.wrapper {
    width: 300px;
    height: 400px;
    background-color: cornsilk;
    margin-top: 100px;
    overflow-y: scroll;
    border-radius: 5px;
}

.items {
    width: 100%;
}
.wrapper .items {
   width: 100%;
   text-align: center;
    padding: 0px;
    margin-right: 50px;
    border-bottom: solid;
}

.contacts {
    width: 99%;
}

.contacts .contact_name {
    border-bottom-style: groove;    
}

.contacts .contact_name >p {
    margin-right: 125px;
    cursor: pointer;
}
.contacts >p {
    padding: 5px;
    border-bottom-style: groove;    
}
